.env
.google_cloud_key.json
.venv
_venv_
**/Data/downloaded_models/*
**/Data/audio/*
**/data/stt_model_cache/*
**/downloaded_models/*
**/audio/*
**/__pycache__/
**/.ipynb_checkpoints/*
**/.vscode/*
**/.idea/*
**/.pytest_cache/*
**/.mypy_cache/*
**/.coverage
**/.coverage.*
**/.DS_Store
**/.pytest_cache
**/.mypy_cache
**/.vscode
**/.idea
**/*temp*
**/*.egg-info
**/*.py[oc]
**/build/
**/dist/
**/wheels/
**/node_modules